body {
  background-color: #bccee6;
  font-family: 'Lexend Deca', sans-serif;
}
.weather-information {
  background: #abbdd5;
  max-width: 550px;
  margin: 10px auto 40px;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  text-align: center;
  color: white;
  border-radius: 20px;
  display: flex;
}
.search-form-input {
  border-radius: 10px;
  font-family: 'Lexend Deca', sans-serif;
  width: 200px;
  height: 35px;
  box-shadow: 0 100px 50px rgba(65, 50, 100, 0.08);
  border-width: 0;
  color: #a6a6a6;
  padding: 0 15px;
  font-weight: 250;
}
.search-form-submit {
  border-radius: 10px;
  font-family: 'Lexend Deca', sans-serif;
  height: 35px;
  width: 80px;
  background-color: #abbdd5;
  border-width: 0;
  color: white;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  font-weight: 250;
  cursor: pointer;
}
h1 {
  font-size: 50px;
  font-weight: 400;
  line-height: 40px;
  margin-top: 20px;
}
.current-hour {
  font-size: 25px;
  font-weight: 250;
  line-height: 0;
  margin-bottom: 0px;
}
.current-temperature {
  font-size: 40px;
  font-weight: 300;
  display: flex;
  margin-left: 255px;
  margin-top: -100px;
}
.weather-icon {
  width: 70px;
  height: 70px;
  margin-bottom: 45px;
  display: flex;
  margin-left: 175px;
  margin-top: 35px;
}

.weather-conditions {
  font-size: 15px;
  font-weight: 200;
  line-height: 2;
  padding-top: 35px;
  padding-bottom: 10px;
}
.specific-humidity-conditions {
  font-weight: 400;
}
.specific-wind-conditions {
  font-weight: 400;
}
.degrees {
  display: flex;
  margin-left: 300px;
  margin-top: -44px;
  font-size: 20px;
}
.forecast {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px;
  grid-gap: 10px;
  padding: 40px auto;
}
.forecast-weather-weekday {
  transform: rotate(-90deg);
  font-size: 16px;
  padding: 50px 0px 50px 00px;
  letter-spacing: 1px;
  text-align: right;
}
.forecast-weather-icon {
  padding: 20px 0 10px 0;
  width: 50px;
  height: 50px;
}
.forecast-weather-temperature {
  padding-bottom: 10px;
}
.forecast-min-temperature {
  font-weight: 200;
}
footer {
  text-align: center;
  color: white;
  font-size: 12px;
  font-weight: 300;
}

a {
  color: white;
  font-weight: 500;
}

form {
  text-align: center;
  padding: 60px 0 30px 0;
}
hr {
  width: 40px;
  height: 0.5px;
  background-color: white;
}
